<!--component html goes here -->

<nav *ngIf="visible == true" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" [routerLink]="['/home']">Market Administration</a>
    <ul class="nav navbar-nav navbar-left">
        <!--<li routerLinkActive="active">
            <a [routerLink]="['/home']">Home</a>
        </li>-->
        <li routerLinkActive="active">
            <a [routerLink]="['/products']">Products</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/import']">Import</a>
        </li>
        <li routerLinkActive="active" *ngIf="IsManager">
            <a [routerLink]="['/locations']">Locations</a>
        </li>
        <li routerLinkActive="active" *ngIf="IsManager">
            <a [routerLink]="['/register']">Register</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="Username">
        <li>
            <a>Hi {{Username}}</a>
        </li>
        <li>
            <a class="logout" (click)="logout()">Log off </a>
        </li>
      </ul>
</nav>
