<simple-notifications style="position: absolute; z-index: 3404560;" [options]="options"></simple-notifications>

<div class="login-page">
  <div class="form">
    <div class="login-form">
      <input type="text" [(ngModel)]="user.Name" placeholder="Name"/>
      <input type="text" [(ngModel)]="user.Username" placeholder="Username"/>
      <input type="text" [(ngModel)]="user.Password" placeholder="Password"/>
      <input type="text" [(ngModel)]="user.LocationId" placeholder="LocationId"/>
      <input type="text" [(ngModel)]="user.CompanyId" placeholder="CompanyIdame"/>
      <input type="text" [(ngModel)]="user.IsManager" placeholder="IsManager"/>
      <button (click)="register()">Create</button>
    </div>
  </div>
</div>