<simple-notifications style="position: absolute; z-index: 3404560;" [options]="options"></simple-notifications>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <table class="table">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    {{product.ProductName}}
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    {{product.ProductDescription}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="isSelected == false">
        <ma-location-datatable [isExtern]="true" (notify)="onNotify($event)">Loading..</ma-location-datatable>
        <button type="button" class="btn btn-primary" *ngIf="locationID" (click)="getSelectedLocation()">Get Location</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="isSelected == true">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="inputLocationName" class="control-label">Price:</label>
                    <input type="number" id="inputLocationName" class="form-control" [(ngModel)]="priceStock.Price" placeholder="Insert name">
                </div>
                <div class="form-group">
                    <label for="inputAddress" class="control-label">Stock:</label>
                    <input type="number" id="inputAddress" class="form-control" [(ngModel)]="priceStock.Stock" placeholder="Insert address">
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-primary" (click)="add()">Add</button>
            </div>
        </div>
    </div>
</div>
