<div *ngIf="isDetailsShown == false">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
                <label for="inputSearch" class="control-label">Search:</label>
                <input type="text" #inputSearch id="inputSearch" class="form-control" (keyup)="search(inputSearch.value)" title="Search">
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Added by</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products | async" (click)="selectProduct(item)" [class.selected]="item === selectedProduct">
                <td>{{item.ProductId}}</td>
                <td>{{item.ProductName}}</td>
                <td>{{item.ProductDescription}}</td>
                <td>{{item.ProductAddedBy}}</td>
                <td>{{item.ProductEnterDate}}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-primary" [routerLink]="['/product']" role="button">Add product</button>
            <button *ngIf="selectedProduct" class="btn btn-primary" role="button" (click)="toggleDetails()">Details</button>
        </div>
    </div>
</div>

<ma-product-detail [product]="selectedProduct" *ngIf="isDetailsShown === true"></ma-product-detail>
<br>
<br>
<div class="row" *ngIf="isDetailsShown === true">
    <div class="col-xs-3">
        <button class="btn btn-primary" (click)="toggleDetails()" role="button">Back</button>
    </div>
</div>